name: Deploy to Heroku

on:
  push:
    branches:
      - dev
      - stg
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy (dev, stg, prod)'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - stg
          - prod
  
defaults:
  run:
    working-directory: ./

jobs:
  heroku-deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.environment || github.ref_name }}
    env:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

    steps:
      # コードのチェックアウト
      - name: Checkout code
        uses: actions/checkout@v4

      # Pythonのセットアップ
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # Heroku CLIのインストール
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh

      # Heroku Container Registryへのログイン
      - name: Login to Heroku Container Registry
        run: |
          echo "${{ secrets.HEROKU_API_KEY }}" | docker login --username=_ --password-stdin registry.heroku.com

      # Dockerイメージのビルド
      - name: Build Docker image
        run: |
          docker build -t registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web .

      # DockerイメージをHeroku Container Registryにプッシュ
      - name: Push Docker image to Heroku
        run: |
          docker push registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web

      # Herokuアプリへのリリース
      - name: Release on Heroku
        run: |
          heroku container:release web --app ${{ secrets.HEROKU_APP_NAME }}